#logo {
    width: 10% !important;
    color: rgb(8 126 164) !important;
}
.py-5 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.theme{
    background-color: rgb(8 126 164) !important;
}
#heading {
    font-size: 50px !important;
    padding: 0% 32% !important;
}

.bg-theme-left{
    background: rgb(238,239,242);
    background: linear-gradient(162deg, rgba(238,239,242,1) 8%, rgba(249,250,251,1) 55%, rgba(253,253,254,1) 100%) !important;
}

.bg-theme-right{
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 8%, rgba(236,238,241,1) 82%, rgba(236,238,241,1) 100%);
}

.text{
    --tw-text-opacity: 1;
    font-size: 20px !important;
    color: rgb(64 71 86) !important;
    line-height: 1.5;
}

.padding-5 {
    padding: 7rem !important;
}
.card{
    width: 32vw;
}